@{
    ViewData["Title"] = "ProuctDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Shirts<span>.</span></h2>
                    <a href="#">Home</a>
                    <a href="#">Dresses</a>
                    <a class="active" href="#">Night Dresses</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="~/clients/img/add.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->
<!-- Product Page Section Beign -->
<section class="product-page">
    <div class="container">
        <div class="product-control d-flex justify-content-between">
            <a href="#">Previous</a>
            <a href="#">Next</a>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-slider owl-carousel">
                    <div class="product-img">
                        <figure>
                            <img src="@Model.ImageUrl" alt="" class="resize-image">
                            <div class="p-status">new</div>
                        </figure>
                    </div>
                    <div class="product-img">
                        <figure>
                            <img src="@Model.ImageThumbnailUrl" alt="" class="resize-image">
                            <div class="p-status">new</div>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-content">
                    <h2>@Model.Name</h2>
                    <div class="pc-meta">
                        <h5>$@Model.Price</h5>
                    </div>
                    <p>
                        @Html.Raw(Model.Description)
                    </p>
                    <div class="product-quantity">
                        <div class="pro-qty">
                            <input type="text" value="1" id="pro-qty-number">
                        </div>
                    </div>
                    <a class="primary-btn pc-btn" id="add-to-cart">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Page Section End -->

<section class="related-product spad">
    <div class="container">
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        updateCartItemCount();

        document.getElementById("add-to-cart").addEventListener("click", function () {
            let checkAuth = "@ViewBag.Auth";
            if (checkAuth == "True") {
                let proQty = parseInt(document.getElementById("pro-qty-number").value);
                let cartItems = getCartItems();

                let existingItemIndex = findCartItemIndex(cartItems, @Model.Id);

                if (proQty <= 0) {
                    if (existingItemIndex !== -1) {
                        cartItems.splice(existingItemIndex, 1);
                        localStorage.setItem("cartItems", JSON.stringify(cartItems));
                    }
                } 
                else {
                    if (existingItemIndex !== -1) {
                        cartItems[existingItemIndex].Quantity += proQty;
                    } else {
                        let obj = {
                            Id: @Model.Id,
                            Name: "@Model.Name",
                            Price: @Model.Price,
                            Quantity: proQty
                        };
                        cartItems.push(obj);
                    }

                    localStorage.setItem("cartItems", JSON.stringify(cartItems));

                    showToast();
                    updateCartItemCount();
                }
            }
            else {
                alert("You are not logged in. Please log in to remove items from the cart.");
                // Redirect to the login page
                window.location.href = "/Account/Login"; // Change this URL to your login page
            }

        });

        function getCartItems() {
            return JSON.parse(localStorage.getItem("cartItems")) || [];
        }

        function updateCartItemCount() {
            let cartItems = getCartItems();
            let totalCount = cartItems.length;
            document.getElementById("cart-item-count").textContent = totalCount;
        }

        function findCartItemIndex(cartItems, itemId) {
            for (let i = 0; i < cartItems.length; i++) {
                if (cartItems[i].Id === itemId) {
                    return i;
                }
            }
            return -1;
        }

        function showToast() {
            let toast = new bootstrap.Toast(document.getElementById("toast"), {
                autohide: true,
                delay: 3000
            });
            toast.show();
        }
    });
</script>
