@model IEnumerable<OrderDTO>
@{
    ViewData["Title"] = "Order List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@functions {
    string GetStatusClass(StatusOrder status)
    {
        switch (status)
        {
            case StatusOrder.Pending:
                return "text-warning";
            case StatusOrder.Confirmed:
                return "text-success";
            case StatusOrder.Shipped:
                return "text-primary";
            default:
                return "";
        }
    }
}
<style>
    .text-warning {
        color: yellow;
    }

    .text-success {
        color: green;
    }

    .text-primary {
        color: blue;
    }
</style>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Order List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Email</th>
                        <th>Street</th>
                        <th>Created</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.TotalAmount</td>
                            <td><span class="@GetStatusClass(item.Status)">@item.Status</span></td>
                            <td>@item.Email</td>
                            <td>@item.Street</td>
                            <td>@item.Created</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Handle</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
